$primary-color: #1a194d;
$secondary-color: #62618f;
$emphasis-color: #ee6338;
$border-color: #cbcbd9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
