.container {
  padding: 1rem 0 0 3rem;
}

.box-bg {
  background-color: $emphasis-bg-color;
  border-radius: to-rem(30);
  height: 600px;
  position: relative;
  width: 150px;
}

.box-content {
  display: flex;
  min-height: 90%;
  left: 61px;
  position: absolute;
  top: 20px;
}
