.header {
  @extend %container-flex;

  flex-direction: column;
  justify-content: space-between;

  .header__profile {
    @extend %container-flex;
    @extend %align-container;

    gap: to-rem(10);
    padding: 1rem;

    .header__person {
      color: $primary-text-color;
      font-size: 1rem;
    }

    .header__user {
      color: $secondary-text-color;
    }
  }

  .header__link {
    color: $secondary-text-color;
    font-size: to-rem(14);
  }

  .header__menu {
    margin-top: to-rem(0);

    .header__item {
      @extend %container-flex;
      @extend %align-container;

      gap: to-rem(10);
      margin-top: to-rem(18);
      padding: to-rem(6) 1rem;

      .header__link {
        position: relative;
        transition: all 0.5s;

        &::before {
          bottom: 0;
          content: "";
          display: block;
          height: 1px;
          left: -5px;
          position: absolute;
          transition: ease-in-out all 0.5s;
          width: 0;
        }

        &:hover::before {
          background-color: $primary-text-color;
          width: 120%;
        }

        &:hover {
          color: $primary-text-color;
        }
      }
    }

    .--active {
      border-left: 3px solid $emphasis-bg-color;

      .header__link {
        color: $primary-text-color;
      }
    }
  }

  .header__logout {
    @extend %container-flex;
    @extend %align-container;

    gap: to-rem(10);

    .header__link {
      font-weight: 700;
    }
  }
}
